@model Size
<div class="container">
	<div class="card shadow-lg border-0 rounded-4">
		<div class="card-body p-4">
			@if (Model.Id == 0)
			{
				<h4 class="mb-4">Add Size</h4>
			}
			else
			{
				<h4 class="mb-4">Edit Size</h4>
			}

			<form asp-action="Save" method="post">
				<div class="row">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

					<input asp-for="Id" type="hidden" value="@Model.Id" />
					<!-- Size Name -->
					<div class="mb-3 col-3">
						<label asp-for="Name" class="control-label">Color Name</label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>

						<!-- Button directly under -->
						<button type="submit" class="btn btn-primary btn-sm mt-2">Submit</button>
					</div>

				</div>

			</form>
		</div>
	</div>

</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}