@model LoginVM

@{
	ViewData["Title"] = "Login";
}

<form asp-action="Login" method="post" class="text-start">
	<!-- Shows model-level/server errors -->
	<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

	<div class="mb-3">
		<label asp-for="UserNameOrEmail" class="form-label">UserName Or Email</label>
		<input asp-for="UserNameOrEmail" class="form-control" />
		<span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Password" class="form-label"></label>
		<input asp-for="Password" class="form-control" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>


	<div class="form-check form-switch d-flex align-items-center mb-3">
		<input asp-for="RememberMe" class="form-check-input" />
		<label asp-for="RememberMe" class="form-check-label mb-0 ms-3"></label>
	</div>

	<div class="text-center">
		<button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Login</button>
	</div>

	<p class="mt-4 text-sm text-center">
		<a asp-area="Identity" asp-controller="Account" asp-action="ForgetPassword"
		   class="text-primary text-gradient font-weight-bold">
			Forgot password?
		</a>
	</p>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
