@model ResetPasswordVM

@{
    ViewData["Title"] = "Reset Password";
}

<form asp-action="ResetPassword" method="post" class="text-start">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
    <input type="hidden" asp-for="UserId" value="@Model.UserId" />

    <div class="mb-3">
        <label asp-for="OTPNumber" class="form-label">OTP Number</label>
        <input asp-for="OTPNumber" class="form-control" />
        <span asp-validation-for="OTPNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="text-center">
        <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">
            Reset Password
        </button>
    </div>

    <p class="mt-4 text-sm text-center">
        <a asp-area="Identity" asp-controller="Account" asp-action="Login"
           class="text-primary text-gradient font-weight-bold">
            Back
        </a>
    </p>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
